/* Whole Page */
.email-index {
    background-color: #f1f6f9;
    display: grid;
    grid-template-columns: auto 1fr;
    overflow-y: hidden;
    padding-right: 16px;

    grid-template-rows: 1fr;
}

/* Search & EmailList */
.main-app-section {
    display: grid;
    grid-template-rows: max-content 1fr;
}