.header {
    background: #2b3945;
    display: flex;

    align-items: center;

    height: 64px;
    padding: 8px;

    box-sizing: border-box;

    flex: 0 0 auto;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 238px;
    height: 48px;
    padding-right: 30px;
}    

.fake-menu-button {
    background-color: #e91e63;
    height: 48px;
    width: 48px;
    margin-left: 4px;
    margin-right: 4px;
}


.search-bar {
    background-color: blueviolet;
    display: flex;
    flex: 1;
    padding-left: 10px;
    padding-right: 30px;
}    


/* Change to non-hard-coded widths */

.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    width: 220px;
    justify-content: space-between;
    margin-right: 15px;
}

.search-field {
    background-color: #e91e63;
    height: 46px;
    width: 720px;
    
}


.right-section {
    display: flex;
    align-items: center;
}

.icon {
    border: 1px solid #e91e63;
}

.icon1 {
    width: 48px;
    height: 48px;
}
.icon2 {
    width: 48px;
    height: 48px;
}
.icon3 {
    width: 40px;
    height: 40px;
}
.icon4 {
    width: 40px;
    height: 40px;
}