.app-header {
    background-color: antiquewhite;

    height: 42px;
    padding: 8px;
}

.app-header .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* .logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 238px;
    height: 48px;
    padding-right: 30px;
}     */

/* .menu-button {
    display: flex;
    background-color: (0,0,0,0);
    height: 48px;
    width: 48px;
    margin-left: 4px;
    margin-right: 4px;
    fill: rgb(255, 255, 255);
    
    align-items: center;
    justify-content: center;

}

.white-icon {
    height: 12px;
    width: 18px;
    fill: rgb(255, 255, 255);
} */

/* 



.nav-links {
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    width: 220px;
    justify-content: space-between;
    margin-right: 15px;
}



.right-section {
    display: flex;
    align-items: center;
}

.right-section .small-icon-container {
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 2px;
}

.right-section img {
    height: 24px;
    width: 24px;
}


.right-section .medium-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.right-section img {
    height: 28px;
    width: 28px;
} */

