header {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.header {
    background: #e91e63;
    color: white;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    height: 64px;
    padding: 8px
}

.header .searchbar {
    background-color: blueviolet;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    grid-column: 1 / 2;
}

.header .logo {
background-color: blue;

display: grid;
grid-template-columns: subgrid;

grid-column: 2 / 3;
}


