.email-filter {
    display: flex;
    flex-direction: column;
    height: 140px;
}
.search-field {
    padding: 5px;
    height: 100px;
    width: 720px;
}

.search-field form {
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-field input {
    background-color: #eaf1fb;
    border: none;
    width: 600px;
    border-radius: 50px;
    padding-left: 16px;

    font-size: 16px;    
    color: black;
    height: 60%;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    flex: 1;
    padding-left: 10px;
    padding-right: 30px;
    height: 68px;

    align-items: center;
}    

.sorting {
    background-color:#ffffff;
    height: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid white;
}
