.email-preview {
    display: grid;

    /* fix overflow to the right */
    grid-template-columns: 60px 168px minmax(300px, 1fr) 60px;

    grid-template-rows: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.email-preview:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    cursor: pointer;
}
.email-preview .line-part {

}

.email-preview .left-icons {
    width: 103px;
    display: flex;
}

.email-preview .select {
    display: grid;
    height: 20px;
    width: 20px;
    padding-left: 13px;
    padding-right: 10px;
}

.email-preview .star {
    display: grid;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.email-preview .important {
    display: grid;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.email-preview .sender {
    display: grid;
    height: 20px;
    width: 168px;
    padding-right: 32px;

    
    text-overflow: ellipsis;
    white-space: nowrap;

}
.email-preview .subject-body {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 40px;
    align-items: center;
    text-overflow: ellipsis;

    display: grid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.email-preview .subject-body .subject {
    display: grid;
    white-space: nowrap;
    text-overflow: ellipsis;


}

.email-preview .subject-body .body {
    display: grid;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.email-preview .date {
    display: grid;
    margin-left: 16px;
}