.email-filter {
    display: flex;
    flex-direction: column;
}

.search-field {
    height: 48px;
    width: 720px;
    margin-top:8px;
    margin-bottom:8px;
}

.search-field input {
    background-color: #eaf1fb;
    border: none;
    width: 600px;
    border-radius: 50px;
    padding-left: 16px;
    font-size: 16px;    
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
}

.filter-sort-field {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left:16px;
    margin:8px
}

.filter-sort-field select {
    border-radius: 4px;
    height: 24px;
    margin-top:3px;
}

.filter-sort-field button {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height:28px;
    margin-top:3px;
    width: 100px;
    border: 2px solid rgb(194, 194, 194,0.5);
    font-weight: 500;
}

.filter-sort-field button .arrow{
    margin-top:2px;
}