.email-compose-window{
    background-color: rgb(255, 255, 255);
    color:black;
    position: fixed;

    bottom: 0px;
    right: 50px;

    height: 550px;
    width: 468px;;

    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.compose-body{
    padding-right: 16px;
    padding-left: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.new-message-title {
    height: 40px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:16px;
    padding-right:16px;

    background-color: #f2f6fc;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    display: flex;
    justify-content: space-between;
}

.exit-compose-btn{
    font-weight: bold;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline:none
}

.send-email-btn{
    height: 36px;
    width: 104px;
    border-radius: 18px;
    background-color: #0b57d0;
    border: none;
    color:white;
    font-weight: bolder;

    margin-left:16px;
    margin-bottom:16px;
}

.compose-line-container{
    height:40px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    border-bottom: 1px solid rgb(205, 205, 205,0.5)
}

.compose-input{
    width:350px;
    border:none;
}

.compose-input:focus{
    outline: none;
}

.body-area{
    width:100%;
    height: 100%;
    padding: 8px;
}

.email-body{
    width:100%;
    height: 360px;
    border:none;
}

.email-body:focus{
    outline: none;
}

.send-btn-container{
    display: flex;
    justify-content: center;
    align-self: center;
}

