.sidebar-container {
    background: (0,0,0,0);
    display: flex;
    width: 256px;

    /* overflow: hidden;
    position: relative; */
}

.sidebar-content {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:  center;

    padding-top: 20px;
    gap: 15px;
}
