.sidebar-container {
    background-color: aquamarine;
    display: flex;
    width: 256px;

    /* overflow: hidden;
    position: relative; */
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:  center;
}
